<section class="about">
  <div class="about__inner">
    <div class="about__item">
      <h1 class="about__title"> A little about us</h1>
      <div class="about__info-image">
        <img src="./assets/images/about.png" alt="image">
      </div>
      <p class="about__info-text">Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt.
        Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit nonummy laoreet phasellent penatoque in
        antesque pellus elis eget tincidunt.</p>
      <p class="about__info-text">Idenim semper pellente velis felit ac. Justoid nonummy laoreet phasellent penatoque in
        antesque pellus elis eget tincidunt.</p>
      <a class="about__link" href="#">Read More About Us »</a>

    </div>
    <div class="about__item">
      <h1 class="about__title">Some of our servises</h1>

      <div class="about__box">
        <div class="about__box-img">
          <img src="./assets/images/servises.png" alt="image">
        </div>
        <div class="about__box-description">
          <h3 class="about__box-subtitle">Service Title</h3>
          <p class="about__box-text">Inteligula congue id elis donec sce sag ittis intes id laoreet aenean. </p>
        </div>
      </div>
      <div class="about__box">
        <div class="about__box-img">
          <img src="./assets/images/servises.png" alt="image">
        </div>
        <div class="about__box-description">
          <h3 class="about__box-subtitle">Service Title</h3>
          <p class="about__box-text">Inteligula congue id elis donec sce sag ittis intes id laoreet aenean. </p>
        </div>
      </div>
      <div class="about__box">
        <div class="about__box-img">
          <img src="./assets/images/servises.png" alt="image">
        </div>
        <div class="about__box-description">
          <h3 class="about__box-subtitle">Service Title</h3>
          <p class="about__box-text">Inteligula congue id elis donec sce sag ittis intes id laoreet aenean. </p>
        </div>
      </div>
      <div class="about__box">
        <div class="about__box-img">
          <img src="./assets/images/servises.png" alt="image">
        </div>
        <div class="about__box-description">
          <h3 class="about__box-subtitle">Service Title</h3>
          <p class="about__box-text">Inteligula congue id elis donec sce sag ittis intes id laoreet aenean. </p>
        </div>
      </div>
      <a class="about__link" href="#">View All Of Our Services »</a>
    </div>

    <div class="about__item">
      <h1 class="about__title">What Our Clients Say</h1>
      <div class="about__clients-description">
        <h3 class="about__clients-subtitle">Tommy Tanker<span> - ceo </span></h3>
        <p class="about__clients-text">Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget
          tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit. Idenim semper pellente velis
          felit ac nullam pretium morbi lacus.</p>
        <a class="about__link" href="#">View This Project »</a>
      </div>
      <div class="about__clients-description">
        <h3 class="about__clients-subtitle">Tommy Tanker<span> - ceo </span></h3>
        <p class="about__clients-text">Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget
          tincidunt. Nequatdui laorem justo a non tellus laoreet tincidunt ut vel velit. Idenim semper pellente velis
          felit ac nullam pretium morbi lacus.</p>
        <a class="about__link" href="#">View This Project »</a>
      </div>
    </div>
  </div>
</section>