<section class="slider">
  <div class="slider__inner">
    <h1 class="slider__title">
      “ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam
      erat. In fringilla massa ut nisi ullamcorper pellentesque „
    </h1>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="slide swiper-slide">
        <img class="slide__img" src="./assets/images/slide-1.png" alt="image">
        <div class="slide__description">
          <h1 class="slide__title">This Is A Very Long Slider Title</h1>
          <p class="slide__text">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque
            sed.
            Facilispede estibulum nulla orna nisl velit.</p>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img class="slide__img" src="./assets/images/slide-2.png" alt="image">
        <div class="slide__description">
          <h1 class="slide__title">This Is A Very Long Slider Title</h1>
          <p class="slide__text">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque
            sed.
            Facilispede estibulum nulla orna nisl velit.</p>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img class="slide__img" src="./assets/images/slide-1.png" alt="image">
        <div class="slide__description">
          <h1 class="slide__title">This Is A Very Long Slider Title</h1>
          <p class="slide__text">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque
            sed.
            Facilispede estibulum nulla orna nisl velit.</p>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img class="slide__img" src="./assets/images/slide-2.png" alt="image">
        <div class="slide__description">
          <h1 class="slide__title">This Is A Very Long Slider Title</h1>
          <p class="slide__text">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque
            sed.
            Facilispede estibulum nulla orna nisl velit.</p>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img class="slide__img" src="./assets/images/slide-1.png" alt="image">
        <div class="slide__description">
          <h1 class="slide__title">This Is A Very Long Slider Title</h1>
          <p class="slide__text">Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque
            sed.
            Facilispede estibulum nulla orna nisl velit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</section>