*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
}

body,
input,
button,
textarea,
select {
  font-family: $base-font;
}

ul {
  list-style: none;
}

a,
button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}

h1 {
  font-size: $H22;
  color: $h1-color;
}

h2 {
  font-size: $H16;
  color: $h2-color;
}

h3 {
  font-size: $H14;
  color: $h3-color;
}

p {
  font-size: $H13;
  color: $text-color;
}
