@mixin text($size, $weight: 400, $color: black) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
  @content;
}

@mixin size($size, $round: false) {
  width: $size;
  height: $size;
  flex-shrink: 0;
  @if $round {
    border-radius: 50%;
  }
  @content;
}
